<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Menu</title>
</head>
<body>

    <h1>Welcome to the Manager Page</h1>

    <!-- logout button -->
    <form th:action="@{/api/auth/logout}" method="post">
        <button type="submit">Logout</button>
    </form>

    <!-- allows manager to add new product data -->
    <form th:action="@{/manager/menu/add}" method="get">
        <button type="submit">Add New Menu</button>
    </form>

    <!-- allows manager to view the list of menu to edit or delete them -->
    <form th:action="@{/manager/menu/editAndDelete}" method="get">
        <button type="submit">Edit or delete Menu</button>
    </form>
</body>
</html>