<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Sign Up</title>
</head>
<body>
    <h1>Manager Sign Up</h1>

    <form th:action="@{/api/auth/signup}" method="post">
        <div>
            <label>Username</label>
            <input type="text" name="username">
        </div>

        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>

        <button type="submit">Login</button>
    </form>
</body>
</html>